header {
  color: #000;
  box-shadow: 8px 8px 12px #aaa;
  padding: 10px;
  margin-bottom: 10px; }
  header .site_name {
    font-size: 24px;
    font-weight: bold; }
  header p {
    color: #808080; }

nav a {
  color: #FF4500;
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
