header{
  color: #000;
  box-shadow: 8px 8px 12px #aaa;

  .site_name{
    font-size: 24px;
    font-weight: bold;
  }
  p{
    color: #808080;
  }
  padding: 10px;
  margin-bottom: 10px;
}

nav{
  a{
      color: #FF4500;
      text-decoration: none;
  }

}
